<div class="row mt-4">
    <div class="col-12">
        <p class="fs-4">Pesquisar paciente</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Digite" aria-label="Recipient's username" [(ngModel)]="campoPesquisaPaciente" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Pesquisar</button>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <form action="">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Método de pesquisa</label>
                                <select class="form-select" name="metodo" id="metodo" [(ngModel)]="metodoSelecionado" (change)="listarMetodos();">
                                    <option selected>Selecione...</option>
                                    <option *ngFor="let element of listaMetodo">{{element.nome}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">CPF</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Endereço</th>
                <th scope="col">Comorbidade</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of listaPacientes">
                <td>{{element.cpf !== null ? element.cpf: "--"}}</td>
                <td>{{element.nome !== null ? element.nome: "--"}}</td>
                <td>{{element.idade !== null ? element.idade: "--"}}</td>
                <td>{{element.endereco !== null ? element.endereco: "--"}}</td>
                <td>{{element.comorbidade !== null ? element.comorbidade: "--"}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>